/* TABLETS */
@media screen and (width >= 768px) and (width <= 1029px) {
  header {
    .main-pic {
      img {
        width: 100%;
        object-position: right center;
      }
    }
    .catch-phrase {
      top: 35%;
      left: 0;
      width: 100%;
      h1 {
        font-size: 55px;
      }
      p {
        font-size: 30px;
      }
    }
  }
  .about-me {
    padding: 1em;
    .about-wrap {
      gap: 30px;
      .me {
        width: 75%;
        margin: 0 auto;
      }
    }
  }
  footer {
    li {
      font-size: 19px;
    }
    .footer-content {
      width: 100%;
      .social-media-container {
        ul {
          text-align: center;
          li {
            a {
              display: flex;
              align-items: center;
              svg {
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
}

/* PHONES */
@media screen and (width <= 767px) {
  /* * {
    outline: 1px solid red;
  } */
  .global-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .hamburger-btn {
      display: block;
      border: none;
      background-color: #fff;

      span {
        .bi-list {
          font-size: 43px;
          color: #373535;
        }
      }
    }
    .navbar-content {
      position: absolute;
      top: 50px;
      opacity: 0;
      transform: translateY(-20px);
      transition: max-height 0.8s ease-in, opacity 0.2s ease,
        transform 0.5s ease;
      z-index: 10;
      width: 100%;
      &.open {
        background-color: #fff;
        display: flex;
        max-height: calc(100vh - 60px);
        transform: translateY(0);
        opacity: 1;
        overflow-y: auto;
      }
    }
    .website-logo {
      display: none;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      width: 100%;
      span {
        padding: 10px;
        width: 100%;
        text-align: center;
        font-size: 20px;
      }
    }
  }
  header {
    .main-pic {
      img {
        width: 100%;
        object-position: right center;
      }
    }
    .catch-phrase {
      top: 35%;
      left: 0;
      width: 100%;
      h1 {
        font-size: 55px;
      }
      p {
        font-size: 30px;
      }
    }
  }
  main {
    .FaveSection,
    .gallery-section {
      scroll-margin-top: 75px;
    }
  }
  .about-me {
    scroll-margin-top: 75px;
    padding: 1em;
    .about-wrap {
      margin: 0;
      padding: 0;
      display: block;
      gap: 0;
      .me {
        width: 90%;
        margin: 0 auto;
      }
      .my-pic {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
      }
    }
  }
  footer {
    li {
      font-size: 19px;
    }
    .footer-content {
      display: block;
      width: auto;
      text-align: center;
      div {
        padding: 0.35em;
      }
      .social-media-container {
        scroll-margin-top: 100px;
        ul {
          li {
            a {
              display: flex;
              align-items: center;
              svg {
                width: 43px;
              }
            }
          }
        }
      }
    }
  }
}
