$gray-color: #cac5c4;
$white-color: #fff;
footer {
    border-top: 1px solid $gray-color;
    grid-area: footer;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    .footer-content {
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        ul {
            list-style: none;
            li {
                margin: .7em 0;
            }
        }
        .social-media-container {
            ul {
                li {
                    display: inline-block;
                    margin-right: 10px;
                    a {
                        svg{ 
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* PHONES  441px*/
@media screen and (max-width: 771px){
    .principal-navbar {
        .navbar-content {
            padding: 5px;
            ul {
                display: none;
            }
        }
        .website-logo {
            display: none;
        }
    }
    header {
        .main-pic{
            img {
                width: 100%;
                object-position: right center;
            }
        }
        .catch-phrase {
            top: 35%;
            left: 0;
            width: 100%;
            h1 {
                font-size: 55px;
            }
            p { 
                font-size: 30px;
            }
        }
    }
    .about-me {
        padding: 1em;
        .about-wrap{
            margin: 0;
            padding: 0;
            display: block;
            .me {
                width: 100%;
                margin: 0 auto;
            }
            .my-pic {
                margin-top: 0;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 25px;
                
            }
        }
    }
    footer {
        li {
            font-size: 19px;
        }
        .footer-content {
            display: block;
            width: auto;
            text-align: center;
            div {
                padding: .35em
            }
            .social-media-container {  
                ul {
                    li {
                        a{ 
                            display: flex;
                            align-items: center;
                            svg {
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }   
}