footer {
  border-top: 1px solid #cac5c4;
  grid-area: footer;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding: 28px;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}
footer .footer-content ul {
  list-style: none;
}
footer .footer-content ul li {
  margin: 0.7em 0;
}
footer .footer-content .social-media-container ul {
  text-align: center;
}
footer .footer-content .social-media-container ul li {
  display: inline-block;
}
footer .footer-content .social-media-container ul li a svg {
  width: 35px;
}
footer .footer-content .social-media-container ul li:nth-child(2) {
  margin: 0 15px;
}

@media screen and (width >= 1030px) {
  .open {
    display: none;
  }
}
/* TABLETS */
@media screen and (width >= 768px) and (width <= 1029px) {
  .open {
    display: none;
  }
  .global-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .global-navbar .navbar-content {
    width: 100%;
    padding: 2em;
  }
  header .main-pic img {
    width: 100%;
    -o-object-position: right center;
    object-position: right center;
  }
  header .catch-phrase {
    top: 35%;
    left: 0;
    width: 100%;
  }
  header .catch-phrase h1 {
    font-size: 55px;
  }
  header .catch-phrase p {
    font-size: 30px;
  }
  .about-me {
    padding: 1em;
  }
  .about-me .about-wrap {
    gap: 30px;
  }
  .about-me .about-wrap .me {
    width: 75%;
    margin: 0 auto;
  }
  footer li {
    font-size: 19px;
  }
  footer .footer-content {
    width: 100%;
  }
  footer .footer-content .social-media-container ul {
    text-align: center;
  }
  footer .footer-content .social-media-container ul li a {
    display: flex;
    align-items: center;
  }
  footer .footer-content .social-media-container ul li a svg {
    width: 30px;
  }
}
/* PHONES */
@media screen and (width <= 768px) {
  .global-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .global-navbar .hamburger-btn {
    display: block;
    border: none;
    background-color: #fff;
    padding: 10px;
  }
  .global-navbar .hamburger-btn span .bi-list {
    font-size: 43px;
    color: #373535;
  }
  .global-navbar .navbar-content {
    position: absolute;
    top: 70px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: max-height 0.1s ease, opacity 0.2s ease, transform 0.6s ease;
    z-index: 10;
    width: 100%;
  }
  .global-navbar .navbar-content .website-logo {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
  }
  .global-navbar .navbar-content.open {
    background-color: #fff;
    display: block;
    max-height: calc(100vh - 60px);
    transform: translateY(0);
    opacity: 1;
    overflow-y: auto;
    gap: 10px;
    pointer-events: auto;
  }
  .global-navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
  }
  .global-navbar ul span {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  header .main-pic img {
    width: 100%;
    -o-object-position: right center;
    object-position: right center;
  }
  header .catch-phrase {
    top: 35%;
    left: 0;
    width: 100%;
  }
  header .catch-phrase h1 {
    font-size: 55px;
  }
  header .catch-phrase p {
    font-size: 30px;
  }
  main {
    padding: 1em;
  }
  main .FaveSection,
  main .gallery-section {
    scroll-margin-top: 120px;
  }
  main .my-masonry-grid_column {
    width: 60% !important;
  }
  .about-me {
    scroll-margin-top: 120px;
    padding: 1em;
  }
  .about-me .about-wrap {
    margin: 0;
    padding: 0;
    display: block;
    gap: 0;
  }
  .about-me .about-wrap .me {
    width: 90%;
    margin: 0 auto;
  }
  .about-me .about-wrap .my-pic {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  footer li {
    font-size: 19px;
  }
  footer .footer-content {
    display: block;
    width: auto;
    text-align: center;
  }
  footer .footer-content div {
    padding: 0.35em;
  }
  footer .footer-content .social-media-container {
    scroll-margin-top: 100px;
  }
  footer .footer-content .social-media-container ul li a {
    display: flex;
    align-items: center;
  }
  footer .footer-content .social-media-container ul li a svg {
    width: 43px;
  }
} /*# sourceMappingURL=Footer.css.map */
